<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @{Html.RenderPartial("_DefaultHeadContent");}
    @RenderSection("AdditionalHead", required: false)
</head>
<body class="anonymous">
    @RenderBody()

    <div class="-app-cookie-consent">
        Ta strona używa ciasteczek (cookies), dzięki którym może działać. Korzystając ze strony zgadzasz się na zapisywanie prywatnych danych zawartych w plikach cookie i podobnych technologiach.
        <a class="btn btn-success" href="#">Rozumiem</a>
    </div>

    <div class="-app-footer clearfix">
        <span class="pull-left">© Copyright 2018 by twojafirma.com.pl. Wszelkie prawa zastrzeżone.</span>
        <span class="pull-right">
            <a href='@Url.Action("TermsAndConditions","Home")'>Warunki korzystania z serwisu</a> | <a href='@Url.Action("PrivacyPolicy","Home")'>Polityka prywatności</a>
        </span>
    </div>

    @{Html.RenderPartial("_DefaultFinalScripts");}

    <script type="text/javascript">
        (function () {
            if (!localStorage.getItem('cookieconsent')) {
                document.querySelector('div.-app-cookie-consent').style.display = "block";
                document.querySelector('div.-app-cookie-consent a').onclick = function (e) {
                    e.preventDefault();
                    document.querySelector('div.-app-cookie-consent').style.display = 'none';
                    localStorage.setItem('cookieconsent', true);
                };
            }
        })();
    </script>
</body>
</html>

