<a href="@Url.Action("Index", "Home")" class="list-group-item -mko-menu-header -mko-menu-item">
    <h4>Start</h4>
</a>
<hr />
<a href="@Url.Action("Index", "Home")" class="list-group-item -mko-menu-header -mko-menu-item">
    <h4>Item 1</h4>
</a>
<hr />
<a href="@Url.Action("Index", "Home")" class="list-group-item -mko-menu-header -mko-menu-item">
    <h4>Item 2</h4>
</a>
<hr />
<a href="@Url.Action("Edit", "Home", new { id = 1})" class="list-group-item -mko-menu-header -mko-menu-item">
    <h4>Użytkownicy</h4>
</a>
<hr />
<a href="@Url.Action("About", "Home")" class="list-group-item -mko-menu-header -mko-menu-item">
    <h4>O programie</h4>
</a>
