@model IdentityPattern.Models.Identity.ChangePasswordVM

@{
    ViewBag.Title = "Zmiana hasła";
    string title = ViewBag.Title;
    string backLink = Url.Action("Index", "Home");
}

@section PageHeader
{
    <div class="page-header clearfix">
        <h1>
            <h1>@title</h1>
            <a class="btn btn-default btn-sm mko-back-button pull-right" href="@Url.Action("Index")"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;@BootstrapTemplates.Resources.MkoResources.BackButtonText</a>
        </h1>
    </div>
}



    <form class="form-horizontal" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="@Html.IdFor(x => x.CurrentPassword)" class="@BootstrapEditorHtmlHelpers.editLabelClass control-label">@Html.LabelFor(x => x.CurrentPassword)</label>
            <div class="@BootstrapEditorHtmlHelpers.editValueClass">
                @Html.BootstrapTextBoxFor(x => x.CurrentPassword, new Dictionary<string, object> { { "type", "password" }, { "class", "-mko-control-size-medium" } })
                @Html.ValidationMessageFor(x => x.CurrentPassword)
                @Html.BootstrapHelpBlockFor(x => x.CurrentPassword, null)
            </div>
        </div>
        <div class="form-group">
            <label for="@Html.IdFor(x => x.NewPassword)" class="@BootstrapEditorHtmlHelpers.editLabelClass control-label">@Html.LabelFor(x => x.NewPassword)</label>
            <div class="@BootstrapEditorHtmlHelpers.editValueClass">
                @Html.BootstrapTextBoxFor(x => x.NewPassword, new Dictionary<string, object> { { "type", "password" }, { "class", "-mko-control-size-medium" } })
                @Html.ValidationMessageFor(x => x.NewPassword)
                @Html.BootstrapHelpBlockFor(x => x.NewPassword, null)
            </div>
        </div>

        <div class="form-group">
            <label for="@Html.IdFor(x => x.RepeatNewPassword)" class="@BootstrapEditorHtmlHelpers.editLabelClass control-label">@Html.LabelFor(x => x.RepeatNewPassword)</label>
            <div class="@BootstrapEditorHtmlHelpers.editValueClass">
                @Html.BootstrapTextBoxFor(x => x.RepeatNewPassword, new Dictionary<string, object> { { "type", "password" }, { "class", "-mko-control-size-medium" } })
                @Html.ValidationMessageFor(x => x.RepeatNewPassword)
                @Html.BootstrapHelpBlockFor(x => x.RepeatNewPassword, null)
            </div>
        </div>

        @Html.BootstrapValidationSummary()

        @{Html.RenderPartial("FormActionsBlock", backLink);}
    </form>

@{Html.RenderPartial("PreventDoubleSubmit", "form.form-horizontal");}
