@model IdentityPattern.Models.Identity.ChangePasswordVM

@{
    ViewBag.Title = "Zmiana hasła";
    string title = ViewBag.Title;
    string backLink = Url.Action("Index", "Home");
}

@section PageHeader
{
    <div class="page-header clearfix">

        <h1>
            @title
                <a class="btn btn-default btn-sm mko-back-button pull-right" href="@backLink"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;@BootstrapTemplates.Resources.MkoResources.BackButtonText</a>
            </h1>
    </div>
}



    <form class="form-horizontal" method="post">
        @Html.AntiForgeryToken()

        @Html.BootstrapEditorFor(x => x.CurrentPassword, "string", new { CssControlClass = "-mko-control-size-medium", htmlAttributes = new { type = "password" } })
        @Html.BootstrapEditorFor(x => x.NewPassword, "string", new { CssControlClass = "-mko-control-size-medium", htmlAttributes = new { type = "password" } })
        @Html.BootstrapEditorFor(x => x.RepeatNewPassword, "string", new { CssControlClass = "-mko-control-size-medium", htmlAttributes = new { type = "password" } })

        @Html.BootstrapValidationSummary()

        @{Html.RenderPartial("FormActionsBlock", backLink);}
    </form>

@{Html.RenderPartial("PreventDoubleSubmit", "form.form-horizontal");}
