@model IdentityPattern.Models.Identity.ResetPasswordVM

@{
    ViewBag.Title = "Ustaw hasło";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<div class="-app-reset-password-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <form method="post" class="form-horizontal clearfix">
                    @Html.AntiForgeryToken()

                    <h2>Nowe hasło</h2>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                    <div class="form-group -app-button-container">
                        <div class="col-md-offset-2 col-md-4">
                            <button id="submitButton" type="submit" value="Save" class="btn btn-success">Zapisz</button>
                        </div>
                        <div class="col-md-offset-2 col-md-4">
                            <a class="btn btn-default" href="@Url.Action("SignIn")">Anuluj</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
