@model  IdentityPattern.Models.Identity.SignInVM

@{
    ViewBag.Title = "Zaloguj";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<div class="-app-login-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-1">
                <form method="post">
                    @Html.AntiForgeryToken()

                    <h2>Zaloguj</h2>
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName)
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "jan.kowalski@firma.com.pl" })
                        @Html.ValidationMessageFor(x => x.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        @Html.TextBoxFor(x => x.Password, new { @type = "password", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(x => x.RememberMe) @Html.DisplayNameFor(x => x.RememberMe)
                        </label>
                    </div>
                    <div>
                        @Html.ValidationSummary(true)
                    </div>
                    <div class="-app-button-container clearfix">
                        <button type="submit" class="btn btn-default btn-lg pull-right">Zaloguj</button>
                    </div>
                    <div class="-app-links-container">
                        <a href='@Url.Action("ForgotPassword")'>Zapomiałeś hasła?</a><br />
                        Nie masz jeszcze konta? <a href='@Url.Action("Register")'>Zarejestruj się.</a><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>